
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DASHBOARD</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap Lesson</title>

    <!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!--   <link rel="stylesheet" href="assets/css/font-awesome.min.css"> -->
     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="container-fluid">
        <div class="row">
			<nav class="nav navbar-justify">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#one">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <form action="" style="background-color: #1AA7A0;color: white;">
                <table>
                     <tr class="custom">
                        <th><h3>  &nbsp;&nbsp;&nbsp;&nbsp;Wine Cosmetic Shop&nbsp;&nbsp;&nbsp;&nbsp;  </h3></th>
                        <th><h5> <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Point Of Sale System&nbsp;&nbsp;  </h5></th>
                    </tr>
                    <tr class="custom">
                        <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mya yamon kantharya realty,ThinGanGyun&nbsp;&nbsp;<br>  <br></td>
                        <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ph no::09250307723<br><br>  </td>
                    </tr>
                </table>
                </form>
                </nav>
            </div>
            <!-- -------------------------------------nav----------------------------------- -->
    <div class="container-fluid">
		<div class="row">
			<style type="text/css">
				.nav{
					font-size: 16px;
					background-color: #fefefe;
				}
				#inva:hover{
					box-shadow: 2px 2px 4px;
					text-shadow: 1px 1px 2px;
				}
				#ware:hover{
					box-shadow: 2px 2px 4px;
					text-shadow: 1px 1px 2px;
				}
			</style>
			<nav class="nav navbar-default">
				<button class="navbar-toggle" data-toggle="collapse" data-target="#one">
					<span class="icon-bar btn btn-success"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-collapse collapse" id="one">
					<ul class="nav navbar-nav">
						<li class="active" id="inva"><a href="/admins/inventorylist">ShowRoom</a></li>
						<li class="#" id="ware"><a href="/admins/warehouselist">WareHouse</a></li>
						<!-- <li class="#"><a href="#">about</a></li>
						<li class="#"><a href="#">contact</a></li> -->
					</ul>

				 	<!-- <form action="" class="navbar-form navbar-left">
				 							<div class="form-group">
				 								<input type="text" class="form-control" placeholder="search" name="">
				 							</div>
				 								<input type="button" class="btn btn-default" value="search" >
				 						</form>
				 						<div class="nav navbar-nav navbar-right">
				 							<li><a href="#">Login</a></li>
				 							<li><a href="#">Register</a></li>
				 						</div> -->
				</div>

			</nav>
		</div>
	</div>
            <!-- --------------------------------pager---------------------------------- -->
            <div class="row">
            	<div class="col-md-12">

            		<ol class="pager">
            			<li class="previous"><span class="glyphicon glyphicon-list"style="padding-bottom: 8px;font-size: 20px;">&nbsp;/Inventory</span></li>
            			<li class="next"><a href="/admin"><span class="glyphicon glyphicon-home"style="padding-top: 8px;">&nbsp;/Admin Page<br><br></span></a></li>
            		</ol>
            	</div>
            </div>
            <!-- --------------------------------------form--------------------------- -->


            <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                <div class="col-md-5 col-lg-4 col-sm-7 col-xs-12">
                	<div>
            				<h3><i class="warehouse">ShowRoom Display</i></h3><br>
            						<style type="text/css">
                                        .btnInventory{
                                            color: #000;
                                            display: inline-block;
                                            width: 80px;
                                            height: 50px;
                                            border: 1px solid #ccc;
                                            background-color: #F2F2F2;
                                            box-shadow: 0px 0px 3px #000;
                                        }
                                        .btnInventory .glyphicon{
                                           /*  margin-top: 30px;
                                           font-size: 40px; */
                                        }
                                        .btnInventory h5{
                                            font-size: 15px;
                                        }
                                        .btnInventory:hover{
                                            color: #fa0;
                                            text-decoration: none;
                                            box-shadow: 2px 2px 4px #000;
                                        }
                                    </style>

															<center>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" >
                                    <button class="btnInventory btnInventory1 text-center">
                                        <span class="addNewBtn glyphicon glyphicon-plus"></span>
                                        <h5>
                                            Add New
                                        </h5>
                                    </button>
                                </div><br><br><br>

															</center>
							<br>
						</div>

					<div class="toggle well hidden">
            <form action="/admins/inventoryadd" class="form-horizontal" method="post">
							<center>
								<table>
								<tr>
									<td style="padding: 3px;"><label for="itemid" class="col-md-6 col-sm-6" style="width:100%; text-align: right;">Item_Type:</label></td>

									<td>	<select name="itemtype" id="itemid" onkeypress="" style="width: 70%;height:25px;">
												<option value="skincare">SkinCare</option>
												<option value="bodycare">BodyCare</option>
												<option value="haircare">HairCare</option>
												<option value="perfume">Perfume</option>
												<option value="hairstylingproduct">HairStyling Product</option>
												<option value="cologen">Cologen</option>
												<option value="makeup">Make_Up</option>
												<option value="chemicalompount">Chemical_Compount</option>
												<option value="cosmetictool">Cosmetic_Tool</option>

										</select></td>
								</tr>
								<tr>
									<td style="padding: 3px;"><label for="barcode" class="col-md-6 col-sm-6" style="width:100%; text-align: right;">Barcode:</label></td>
									<td><input type="number" class="col-md-6 col-sm-6" id="barcode" style="width: 70%;" name="barcode"></td>
								</tr>
								<tr>
									<td style="padding: 3px;"><label for="itemname" class="col-md-6 col-sm-6" style="width:100%; text-align: right;">Item_Name:</label></td>
									<td><input type="text" class="col-md-6 col-sm-6" id="itemname" style="width: 70%;" name="itemname"></td>
								</tr>
								<tr>
									<td style="padding: 3px;"><label for="brandname" class="col-md-6 col-sm-6" style="width:100%; text-align: right;">Brand_Name:</label></td>
									<td><input type="text" class="col-md-6 col-sm-6" id="brandname" style="width: 70%;" name="brandname"></td>
								</tr>
								<tr>
									<td style="padding: 3px;"><label for="companyname" class="col-md-6 col-sm-6" style="width:100%; text-align: right;">Company_Name:</label></td>
									<td><input type="text" class="col-md-6 col-sm-6" id="companyname" style="width: 70%;" name="companyname"></td>
								</tr><br>
								<!-- <tr>
									<td style="padding: 3px;"><label for="purchaseprice" class="col-md-6" style="width:150px; text-align: right;">PurchasePrice:</label></td>
									<td><input type="text" class="col-md-6" id="purchaseprice" style="width: 200px;"></td>
								</tr> -->
								<tr>
									<td style="padding: 3px;"><label for="Saleprice" class="col-md-6 col-sm-6" style="width:100%; text-align: right;">Purchase_Price:</label></td>
									<td><input type="text" class="col-md-6 col-sm-6" id="Saleprice" style="width: 70%;" name="purchaseprice"></td>
								</tr>
								<tr>

									<td style="padding: 3px;"><label for="Saleprice" class="col-md-6 col-sm-6" style="width:100%; text-align: right;">Sale_Price:</label></td>
									<td><input type="text" class="col-md-6 col-sm-6" id="Saleprice" style="width: 70%;" name="saleprice"></td>
								</tr>
								<tr>
									<td style="padding: 3px;"><label for="qty" class="col-md-6 col-sm-6" style="width:100%; text-align: right;">Qty:</label></td>
									<td><input type="text" class="col-md-6 col-sm-6" id="qty" style="width:70%;" name="qty"></td>
								</tr>
								<tr>
                    <td style="padding: 3px;"><label for="startdate" class="col-md-6 col-sm-6" style="width:100%; text-align: right;">Start_Date:</label></td>
                    <td><input type="date" class="col-md-6 col-sm-6" id="startdate" style="width: 70%;" name="startdate"></td>
                </tr>
                <tr>
                  	<td style="padding: 3px;"><label for="expdate" class="col-md-6 col-sm-6" style="width:100%; text-align: right;">Expire_Date:</label></td>
                    <td><input type="date" class="col-md-6 col-sm-6" id="expdate" style="width:70%;" name="expdate"></td>
                </tr>

								<tr>
									<td style="padding: 3px;"><label for="remark" class="col-md-6 col-sm-6" style="width:100%; text-align: right;">Remark:</label></td>
									<td><input type="text" class="col-md-6 col-sm-6" id="remark" style="width:70%;" name="remark"></td>

								</tr>
							</table></center>
								<br>
									<style type="text/css">
                                .button{
                                    background-color: #245718;
                                    width: 70px;
                                    height: 30px;
                                    text-align: center;
                                    text-decoration: none;
                                    color: white;
                                    border-radius: 5px;
                                }
                                 .cancel{
                                    background-color: #97190B;
                                    width: 70px;
                                    height: 30px;
                                    text-align: center;
                                    text-decoration: none;
                                    color: white;
                                    border-radius: 5px;
                                }
                            </style>
				                <div class="col-md-12">
				                  <center><input type="submit" value="Add" class="button">&nbsp;
				                    <input type="reset" value="Cancel" class="cancel">
													</center>
				                </div>

							<br>

						</form>

					</div>
				</div>
					<div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
						<fieldset>
                <legend><h3><i>ShowRoom Table Details</i></h3></legend>
                    <div class="input-group">
                        <style type="text/css">

                        </style>

							<div class="col-md-3 colmd-offset-8 text-right">
                            <span class="input-group-addon" style="text-align: right;">Search:&nbsp;
                                <input type="text" name="" class="glyphicon glyphicon-search" id="searchBtn" onkeyup="myFunction();">&nbsp;&nbsp;&nbsp;
                                <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                            </span>
                    		</div>
                    </div>
                        <br><br>
                     <div class="editBtn well" style="overflow: auto;">

                             <table class="table table-bordered" id="myTable">
						<tr>
							<th>Item_Type</th>
							<th>Barcode</th>
							<th>Item_Name</th>
							<th>Brand_Name</th>
							<th>Company_Name</th>
							<th>Purchase_Price</th>
							<th>Sale_Price</th>
							<th>Qty</th>
							<th>Start_Date</th>
							<th>Expire_Date</th>
							<th>Remark</th>
							<th>Update</th>
							<th>Delete</th>
						</tr>
						<tbody>

						<% for (var i = 0; i < showroom.length; i++) {%>
						<tr>
						<td><%= showroom[i].itemType %></td>
						<td><%= showroom[i].barCode %></td>
						<td><%= showroom[i].itemName%></td>
						<td><%= showroom[i].brandName %></td>
						<td><%= showroom[i].companyName %></td>
							<td><%= showroom[i].purchasePrice %></td>
						<td><%= showroom[i].salePrice %></td>
						<td><%= showroom[i].startDate %></td>
						<td><%= showroom[i].expDate %></td>
						<td><%= showroom[i].Qty %></td>
						<td><%= showroom[i].Remark %></td>
						<td><a href="/admins/update/<%=showroom[i]._id %>"><input type="submit" value="update"></a></td>
						<td><center><input type="button" name="btn" value="Delete" onclick="del('<%= showroom[i]._id%>')"></a></center></td>
						</tr>
						<%}%>
						</tbody>
					</table>
					<style type="text/css">
                                .button{
                                    background-color: #245718;
                                    width: 70px;
                                    height: 30px;
                                    text-align: center;
                                    text-decoration: none;
                                    color: white;
                                    border-radius: 5px;
                                }
                                 .cancel{
                                    background-color: #97190B;
                                    width: 70px;
                                    height: 30px;
                                    text-align: center;
                                    text-decoration: none;
                                    color: white;
                                    border-radius: 5px;
                                }
                            </style>
                            <div class="col-md-7" style="text-align: right;">
<button type="button" id="abcd" name="button">Click</button>
			                </div>
                    </div>
                </fieldset>
                </div>
			</div>
			<br><br>
		</div>
	</div><br><br>
</div>
	<script rel="stylesheet" src="/js/jquery.min.js"></script>
	<script rel="stylesheet" src="/js/bootstrap.min.js"></script>
	<script>


		document.querySelector('.btnInventory1').addEventListener('click',function(){
			document.querySelector('.toggle').classList.toggle('hidden');
		});
 function del(ol) {
	 var a=confirm("Are you sure");
	 if(a) location.href="/admins/delete/"+ol;

 }
	</script>
	<script type="text/javascript">

	//  =====================Search Bar==================================================
	 function myFunction() {
	        var table,filter,tr, i, txtValue;
	        var searchVal=document.getElementById('searchBtn');
	        filter = searchVal.value.toUpperCase();
	        table = document.getElementById("myTable");
	        tr = table.getElementsByTagName("tr");
			  for (i = 0; i < tr.length; i++) {
			    td = tr[i].getElementsByTagName("td")[2];
			    if (td) {
			      txtValue = td.textContent || td.innerText;
			      if (txtValue.toUpperCase().indexOf(filter) > -1) {
			        tr[i].style.display = "";
			      } else {
			        tr[i].style.display = "none";
			      }
			    }
			  }
	}
	// ==============================End Search Bar============================

	// ==============Noti Expire Date============================================
		document.getElementById('abcd').addEventListener('click',function(){
			function showtime(){
				var notiArr=new Array();
				var table,tr, i, txtValue,tdd,txtVal;
				var d = new Date(),
				months = ['01','02','03','04','05','06','07','08','09','10','11','12'];
				 var show =d.getFullYear()+"-"+months[d.getMonth()]+"-"+d.getDate();
				 table = document.getElementById("myTable");
				 tr = table.getElementsByTagName("tr");
				   for (i = 0; i < tr.length; i++) {
					 td = tr[i].getElementsByTagName("td")[8];
					 tdd = tr[i].getElementsByTagName("td")[2];

					 if (td) {
					   txtValue = td.textContent || td.innerText;
					   txtVal = tdd.textContent || tdd.innerText;

					   if (txtValue[i] <= show) {
						notiArr[i]=txtVal+" is Expire";
						// document.getElementById('txtNoti').value=notiArr[i];
						console.log(notiArr[i]);
					   }
					 }
				   }
			 }
			 showtime();
		});
	// ==============End Noti Expire Date============================================

	</script>
</body>
</html>
