<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Sale details <h1>
  Barcode:<%= showroom.barCode %><p>
  Item-Name:<%= showroom. itemName %><p>
  Item-Type:<%= showroom.itemType %><p>
  Brand-Name:<%= showroom.brandName %><p>
  Sale_Price:<%= showroom.salePrice %><p>

      <a href="/sales/saleadd"><input type="submit" name="" value="sale"></a>
  </body>
</html>
