
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DASHBOARD</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap Lesson</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!--   <link rel="stylesheet" href="assets/css/font-awesome.min.css"> -->
     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="container-fluid">
        <div class="row">
			<nav class="nav navbar-justify">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#one">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <form action="" style="background-color: #1AA7A0;color: white;">
                <table>
                    <tr class="custom">
                        <th><h3>  &nbsp;&nbsp;&nbsp;&nbsp;Wine Cosmetic Shop&nbsp;&nbsp;&nbsp;&nbsp;  </h3></th>
                        <th><h5> <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Point Of Sale System&nbsp;&nbsp;  </h5></th>
                    </tr>
                    <tr class="custom">
                        <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mya yamon kantharya realty,ThinGanGyun&nbsp;&nbsp;<br>  <br></td>
                        <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ph no::09250307723<br><br>  </td>
                    </tr>
                </table>
                </form>
                </nav>
            </div>
<!-- -----------------------------------pager------------------------- -->
            <div class="row">
                <div class="col-md-12">
                    <ol class="pager">
                        <li class="previous"><span class="glyphicon glyphicon-list"style="padding-bottom: 8px;font-size: 20px;">&nbsp;/Sale History</span></li>
                        <li class="next"><a href="/admin"><span class="glyphicon glyphicon-home"style="padding-top: 8px;">&nbsp;/Admin Page<br><br></span></a></li>
                    </ol>
                </div>
            </div>
<!-- ----------------------------------form---------------------------------- -->
            <div class="row">
                <div class="col-md-6">
                    <form action="">

                    </form><br><br>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12"><br>
                    <form action="">
                        <div class="col-md-6 btn-md">
                            <fieldset>
                                <legend><h3><i>Sale History Details</i></h3></legend>
                                    <style type="text/css">
                                        .btnInventory{
                                            color: #000;
                                            display: inline-block;
                                            width: 80px;
                                            height: 55px;
                                            border: 1px solid #ccc;
                                            background-color: #F2F2F2;
                                            box-shadow: 0px 0px 3px #000;
                                        }
                                        .btnInventory .glyphicon{
                                           /*  margin-top: 30px;
                                           font-size: 40px; */
                                        }
                                        .btnInventory h5{
                                            font-size: 15px;
                                        }
                                        .btnInventory:hover{
                                            color: #fa0;
                                            text-decoration: none;
                                            box-shadow: 2px 2px 4px #000;
                                        }
                                    </style>



                            </fieldset><br><br>
                        </div>

                        <div class="col-md-5  btn-md">

                                    <style type="text/css">
                                        .btnInventory{
                                            color: #000;
                                            display: inline-block;
                                            width: 80px;
                                            height: 55px;
                                            border: 1px solid #ccc;
                                            background-color: #F2F2F2;
                                            box-shadow: 0px 0px 3px #000;
                                        }
                                        .btnInventory .glyphicon{
                                           /*  margin-top: 30px;
                                           font-size: 40px; */
                                        }
                                        .btnInventory h5{
                                            font-size: 15px;
                                        }
                                        .btnInventory:hover{
                                            color: #fa0;
                                            text-decoration: none;
                                            box-shadow: 2px 2px 4px #000;
                                        }
                                    </style>



                            </fieldset>
                        </div>
                    </form>
                </div>
                 <br><br>
            </div>




            <div class="row">
                <div class="col-md-6">
                    <div class="well" style="overflow: auto;">
                        <form action="/salehistory" method="POST" class="form-horizontal">

                            <table class="table table-bordered">

                        <tr>

                            <th>Sale Date</th>
                            <th>Sale Count</th>
                            <th>Total Sale</th>

                        </tr>
												<% for(var i = 0; i < sales.length; i++){%>
													<tr>
	                            <td><%= sales[i]._id.day %>-<%= sales[i]._id.month %>-<%= sales[i]._id.year %></td>
	                            <td><%= sales[i].count %></td>
	                            <td><%= sales[i].totalPrice %></td>
	                        </tr>
												<%}%>


                    </table>
                         <style type="text/css">
                                .button{
                                    background-color: #245718;
                                    width: 70px;
                                    height: 30px;
                                    text-align: center;
                                    text-decoration: none;
                                    color: white;
                                    border-radius: 5px;
                                }
                                 .cancel{
                                    background-color: #97190B;
                                    width: 70px;
                                    height: 30px;
                                    text-align: center;
                                    text-decoration: none;
                                    color: white;
                                    border-radius: 5px;
                                }
                            </style>


                     </form>
                </div>
            </div>



    </div>
    </div>


    <script rel="stylesheet" src="/js/jquery.min.js"></script>
    <script rel="stylesheet" src="/js/bootstrap.min.js"></script>
</body>
	<script type="text/javascript">
		var date = new Date();
		 var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
		 var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
		 console.log(firstDay,lastDay);
	</script>
</html>
